:root {
  --Brightorange: hsl(31, 77%, 52%);
  --Darkcyan: hsl(184, 100%, 22%);
  --Verydarkcyan: hsl(179, 100%, 13%);
  --Transparentwhiteparagraphs: hsla(0, 0%, 100%, 0.75);
  --Verylightgraybackgroundheadingsbuttons: hsl(0, 0%, 95%);
  --fontSize: 15px;
  --borderRadiusOuter: 15px;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font-family: work-sans, sans-serif;
  margin: 0;
  font-family: "Inter", sans-serif;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

/* Small */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.card {
  background-color: var(--Verylightgraybackgroundheadingsbuttons);
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  position: relative;
}

.card .container {
  max-width: 60rem;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: var(--borderRadiusOuter);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

@media (max-width: 767px) {
  .card .container {
    flex-direction: column;
    max-width: 375px;
    height: 100vh;
  }
}

.card .container .image img {
  border-radius: var(--borderRadiusInner);
  max-width: 100%;
}

.card .container .box {
  padding: 40px;
  text-align: start;
}

.card .container .box h2 {
  font-family: "Big Shoulders Display", cursive;
  font-size: 40px;
  color: var(--Verylightgraybackgroundheadingsbuttons);
  text-transform: uppercase;
}

.card .container .box p {
  color: var(--Transparentwhiteparagraphs);
  font-family: "Lexend Deca", sans-serif;
  line-height: 1.8;
  font-size: var(--fontSize);
  margin: 20px 0;
}

.card .container .box a {
  display: block;
  background-color: var(--Verylightgraybackgroundheadingsbuttons);
  padding: 15px 30px;
  font-size: 20px;
  border: 2px solid var(--Verylightgraybackgroundheadingsbuttons);
  width: fit-content;
  border-radius: 25px;
  margin-top: 60px;
  transition-duration: 0.6s;
}

.card .container .box:first-of-type {
  background-color: var(--Brightorange);
  border-bottom-left-radius: var(--borderRadiusOuter);
  border-top-left-radius: var(--borderRadiusOuter);
}

.card .container .box:nth-last-of-type(2) {
  background-color: var(--Darkcyan);
}

.card .container .box:last-of-type {
  background-color: var(--Verydarkcyan);
  border-top-right-radius: var(--borderRadiusOuter);
  border-bottom-right-radius: var(--borderRadiusOuter);
}

.card .container .box:first-of-type a {
  color: var(--Brightorange);
}

.card .container .box:nth-last-of-type(2) a {
  color: var(--Darkcyan);
}

.card .container .box:last-of-type a {
  color: var(--Verydarkcyan);
}

.card .container .box a:hover {
  color: var(--Verylightgraybackgroundheadingsbuttons);
}

.card .container .box:first-of-type a:hover {
  background-color: var(--Brightorange);
}

.card .container .box:nth-last-of-type(2) a:hover {
  background-color: var(--Darkcyan);
}

.card .container .box:last-of-type a:hover {
  background-color: var(--Verydarkcyan);
}

@media (max-width: 767px) {
  .card .container .box:first-of-type {
    border-bottom-left-radius: 0;
    border-top-left-radius: var(--borderRadiusOuter);
    border-top-right-radius: var(--borderRadiusOuter);
  }
  .card .container .box:last-of-type {
    background-color: var(--Verydarkcyan);
    border-top-right-radius: 0;
    border-bottom-right-radius: var(--borderRadiusOuter);
    border-bottom-left-radius: var(--borderRadiusOuter);
  }
  .card .container .box a {
    margin-top: 30px;
    padding: 10px 20px;
  }
}
